body {
  background-image: url("images/vortexbg.png");
  background-repeat: no-repeat;
background-attachment: fixed;
}

position: absolute;
left: -0.9%;
right: 0.91%;
top: 0%;
bottom: 0%;


/* toons */

position: absolute;
width: 576px;
height: 597px;
left: 978px;
top: 512px;

transform: rotate(90deg);


body {
  background-color: powderblue;
}
h1 {
  color: blue;
}
p {
  color: red;
}
