
body {

  background-image: url('images/vortexbg.png');
  max-width: 100%;
  background-repeat: repeat;
  background-attachment: static;
  background-color: #ED4C81;

}



<body scroll="no" style="overflow: hidden">




body {
  background-color: #ED4C81;
}
h1 {
  color: #000;
}
p {
  color: #fff;
}
