body, html {
  height: 100%;
}

.bg {
  /* The image used */
  background-image: url("images/vortexbg.png");

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


div.toon {
   content:images/jermpizza.png;
}​
position: absolute;
width: 576px;
height: 597px;
left: 978px;
top: 512px;



body {
  background-color: powderblue;
}
h1 {
  color: blue;
}
p {
  color: red;
}
